

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /*background: url("./pokemon-bg.jpg");*/
    background: url("./memorama_img/bg3.jpeg");
    background-size: cover;
    background-position: center top;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/*.board {
    height: 532px;
    width: 475px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border: 10px solid lightgrey;
}*/

.popup_title {
    margin-bottom: 10px;
}

.board {
    height: 100%;
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border: 10px solid lightgrey;
    justify-content: center;
    gap: 2px;
    margin-top: 10%;
}

/*.card {
    height: 128px;
    width: 90px;
    margin: 2.5px;
}*/

.card {
    max-height: 150px;
    height: 120px;
    width: 24%;
}

.description_popup {
    /*width: 320px;*/
    width: 90%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 20px;
    padding: 30px 30px 70px;
    max-height: 450px;
}

.overlay {
    position: absolute;
    align-items: center;
    display: none;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}



.btn_popup_close {
    width: 30px;
    font-size: 20px;
    color: #c0c5cb;
    align-self: flex-end;
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.popup_img {
    width: 120px;
    margin-bottom: 15px;
}

.popup_description {
    margin-bottom: 20px;
    font-size: 14px;
    color: #808080;
}

.btn_popup_accept {
    background-color: #65b418;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    padding: 14px;
    font-size: 16px;
    color: white;
    box-shadow: 0px 6px 18px -5px rgb(53, 182, 41);
}


/******************************************************/
/************** ESTILOS TABLET ************************/
/******************************************************/
@media (min-width: 768px) {
    .board {
        height: 100%;
        width: 475px;
        gap: 5px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .card {
        height: 130px;
    }

}

/******************************************************/
/************** ESTILOS desktop 1024************************/
/******************************************************/
@media (min-width: 1024px) {
    .board {
        height: 100%;
        gap: 5px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .card {
        height: 130px;
    }

}

/******************************************************/
/************** ESTILOS desktop 1440************************/
/******************************************************/
@media (min-width: 1440px) {
    .board {
        height: 532px;
        width: 475px;
        border: 2px solid transparent;
        gap: 5px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .card {
        height: 128px;
        width: 90px;
    }

}